@font-face {
    src: url("../assets/fonts/Nunito_Sans/static/NunitoSans_10pt-ExtraBold.ttf");
    font-family: "NunitoSans_10pt-ExtraBold";
}
@font-face {
    src: url("../assets/fonts/Nunito_Sans/static/NunitoSans_10pt_SemiCondensed-Bold.ttf");
    font-family: "NunitoSans_10pt_SemiCondensed-Bold";
}