.table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
}

.columns {
    color: rgba(255, 255, 255, 0.60);
    font-family: 'NunitoSans_10pt_SemiCondensed-Bold';
    font-size: 1.8rem;
    font-style: normal;
    line-height: 2.8803rem;;
    text-align: left;
}

.colums_title th {
    padding: 0.8rem 1.6rem;
    color: rgba(255, 255, 255, 0.60);
    font-weight: normal;
    background: rgba(255, 255, 255, 0.050);
}

.colums_sub_title td {
    padding: 0.8rem 1.6rem;
    cursor: pointer;
}

.colums_sub_title:nth-child(even) {
    background: rgba(255, 255, 255, 0.050);
}